PROJECT_NAME= # Nombre Del Proyecto
POSTGRES_SERVER=database
POSTGRES_USER= # Nombre Del Usuario Postgre
POSTGRES_PASSWORD= # Contraseña Del Usuario Postgre
POSTGRES_DB= # Nombre Base De Datos
POSTGRES_PORT= # Puerto Base De Datos
JWT_SECRET_KEY= # Clave Secreta JWT
JWT_EXPIRATION= # Numero dias expiracion JWT