{% extends "base.html" %}
{% from "macros.html" import form_header, input, form_buttons %}
{% block title %}Nueva Currency{% endblock %}
{% block header %}{{ form_header("Crear Currency") }}{% endblock %}
{% block content %}
<div class="py-6"><div class="max-w-3xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white shadow-sm sm:rounded-lg p-6">
        <form action="/views/currency/" method="POST" class="space-y-4">
            {{ input("Nombre", "name", form.name) }}
            {{ input("Código", "code", form.code) }}
            {{ input("Símbolo", "symbol", form.symbol, placeholder="$, €, £...") }}
            {{ form_buttons("Crear Currency", "/views/currency/") }}
        </form>
    </div>
</div></div>
{% endblock %}
