{% extends "base.html" %}
{% from "macros.html" import form_header, input, form_buttons %}
{% block title %}Editar Currency #{{ currency.id }}{% endblock %}
{% block header %}{{ form_header("Editar Currency") }}{% endblock %}
{% block content %}
<div class="py-6"><div class="max-w-3xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white shadow-sm sm:rounded-lg p-6">
        <form action="/views/currency/{{ currency.id }}/update" method="POST" class="space-y-4">
            {{ input("Nombre", "name", form.name if form else currency.name) }}
            {{ input("Código", "code", form.code if form else currency.code) }}
            {{ input("Símbolo", "symbol", form.symbol if form else currency.symbol, placeholder="$, €, £...") }}
            {{ form_buttons("Actualizar", "/views/currency/" ~ currency.id) }}
        </form>
    </div>
</div></div>
{% endblock %}
