{% extends "base.html" %}
{% from "macros.html" import form_header, input, form_buttons %}
{% block title %}Nuevo Genre{% endblock %}
{% block header %}{{ form_header("Crear Genre") }}{% endblock %}
{% block content %}
<div class="py-6"><div class="max-w-3xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white shadow-sm sm:rounded-lg p-6">
        <form action="/views/genre/" method="POST" class="space-y-4">
            {{ input("Nombre", "name", form.name) }}
            {{ form_buttons("Crear Genre", "/views/genre/") }}
        </form>
    </div>
</div></div>
{% endblock %}
