{% extends "base.html" %}
{% from "macros.html" import form_header, input, form_buttons %}
{% block title %}Editar Genre #{{ genre.id }}{% endblock %}
{% block header %}{{ form_header("Editar Genre") }}{% endblock %}
{% block content %}
<div class="py-6"><div class="max-w-3xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white shadow-sm sm:rounded-lg p-6">
        <form action="/views/genre/{{ genre.id }}/update" method="POST" class="space-y-4">
            {{ input("Nombre", "name", form.name if form else genre.name) }}
            {{ form_buttons("Actualizar", "/views/genre/" ~ genre.id) }}
        </form>
    </div>
</div></div>
{% endblock %}
