{% extends "base.html" %}
{% from "macros.html" import form_header, field, actions %}
{% block title %}Genre #{{ genre.id }}{% endblock %}
{% block header %}{{ form_header("Detalles de Genre") }}{% endblock %}
{% block content %}
<div class="py-12"><div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white p-8 shadow-sm rounded-lg border border-gray-100">
        <h1 class="text-xl font-semibold">{{ genre.name }}</h1>
        <div class="space-y-1 text-gray-700 mt-2">
            {{ field("ID", genre.id) }}
            {{ field("created at", genre.created_at) }}
            {{ field("updated at", genre.updated_at) }}
        </div>
        {{ actions("/views/genre", genre.id, show=False, back=True) }}
    </div>
</div></div>
{% endblock %}
